<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versenyek</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<h1>Versenyek</h1>
<ul>
    <li th:each="race : ${race}">
        <span th:text="${race.name}"></span> - <span th:text="${race.distance}"></span>
        <a th:href="@{/api/getRaceRunners/{id}(id=${race.id})}" class="btn btn-primary">View</a>
    </li>
</ul>
</body>
</html>